[submodule "AlgoritmosCompressao"]
	path = AlgoritmosCompressao
	url = git@github.com:Luidi1/AlgoritmosCompressao.git
[submodule "meuCli"]
	path = meuCli
	url = https://github.com/Luidi1/meuCli.git
[submodule "meuCLI"]
	path = meuCLI
	url = https://github.com/Luidi1/meuCli.git
